* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar-thumb {
  background: #513c28;
  border-radius: 20px;
}
html::-webkit-scrollbar {
  width: 10px;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 4px solid #513c28;
}

.bg-home {
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 100%;
}

/* Banner Start */
.banner {
  width: 100%;
  height: 60vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-content {
  text-align: center;
  padding: 150px 10% 10px;
}
.banner-content h5 {
  color: white;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 500;
  text-shadow: 0px 1px 1px black;
}
.banner-content h3 {
  color: #f3f3f3;
  font-size: 38px;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: 0px 1px 1px black;
}
.banner-content p {
  color: white;
  font-size: 16px;
  margin-top: 5px;
  letter-spacing: 2px;
  font-weight: 500;
  text-shadow: 0px 1px 1px black;
}
.banner-content button a {
  text-decoration: none;
  color: rgb(253, 198, 114);
  font-weight: bold;
}
.banner-content button {
  width: 160px;
  height: 36px;
  margin-top: 10px;
  background: transparent;
  border: 2px solid black;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
}
.banner-content button:hover {
  background: #513c28;
  border: none;
}
/* Banner End */

/* produk */
.main-txt {
  text-align: center;
}
.main-txt h3 {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 600;
  color: #513c28;
  text-shadow: 0px 1px 1px black;
}

.card-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  align-items: center;
  gap: 0.9rem;
  margin-top: 30px;
  transition: 1s;
  cursor: pointer;
}

.card-content :hover {
  transform: translateY(-10px);
}

.card-content .row {
  background: #d0cdcd;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}
.row img {
  width: 100%;
  display: block;
}
.card-body {
  padding: 10px;
}
.card-body h3 {
  margin-top: 10px;
  font-size: 30px;
  font-weight: 550;
  color: #513c28;
  text-shadow: 0px 1px 1px black;
}
.card-body p {
  font-weight: 500;
  margin-top: 5px;
  letter-spacing: 1px;
}
.card-body h5 {
  margin-top: 5px;
  font-size: 18px;
}
.card-body button {
  width: 130px;
  height: 30px;
  font-weight: 550;
  margin-top: 5px;
  background: transparent;
  color: #513c28;
  border-radius: 5px;
  border: 2px solid #513c28;
  transition: 0.5s;
  cursor: pointer;
}
.card-body button:hover {
  background: #513c28;
  color: white;
}
/* produk */

.Products {
  background-color: black;
  height: 100%;
}

.Partners {
  background-color: black;
}

header .header-content {
  text-align: center;
}

header h1 {
  color: white;
  font-size: 2.5rem;
  margin: 0;
}

header p {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

nav {
  background-color: #333;
  padding: 0.5rem;
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 2px;
}

nav ul li a:hover {
  background: white;
  color: black;
}

section {
  padding: 2rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ddd;
}

section h2 {
  font-size: 2rem;
  margin-top: 0;
}

section p {
  color: #333;
}

footer {
  background-color: #333;
  padding: 1rem;
  text-align: center;
}

footer p {
  color: white;
}

/* Contact */
.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2.5rem;
  padding: 100px 8% 120px;
  background: #f3f3f3;
}
.content-text {
  margin-bottom: 10px;
}
.content-text h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
  text-shadow: 0px 1px 1px black;
}
.content-text h2 span {
  color: #745334;
}
.content-text p {
  font-weight: bold;
}
.list {
  margin-top: 16px;
}
.list li {
  margin-bottom: 12px;
}
.list li a {
  display: block;
  color: #513c28;
  font-weight: bold;
  font-size: 15px;
  transition: 0.3s ease;
}
.contact-form form {
  position: relative;
}
.contact-form form input,
form textarea {
  width: 100%;
  padding: 10px;
  background: white;
  color: black;
  border: none;
  outline: none;
  font-size: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.contact-form textarea {
  resize: none;
  height: 160px;
}
.contact-form .submit {
  display: inline-block;
  font-size: 15px;
  background: #513c28;
  color: white;
  width: 160px;
  transition: 0.5s;
  cursor: pointer;
}
.contact-form .submit:hover {
  width: 175px;
}
/* Contact */

.icon li a {
  background-image: size(50px);
  width: 1000px;
  height: 1000px;
}

/* Partner */

#partners {
  padding: 2rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

#partners h2 {
  font-size: 2rem;
  margin-top: 0;
}

.partner-logo {
  display: inline-block;
  margin: 0 1rem;
}

.partner-logo img {
  height: 100px;
}
/* Partner */
#partners {
  padding: 2rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

#partners h2 {
  font-size: 2rem;
  margin-top: 0;
}

.partner-logo {
  display: inline-block;
  margin: 0 1rem;
}

.partner-logo img {
  height: 100px;
}
/* Partner */
